.cookie-banner{
    position: fixed;
    background: #000000cf;
    bottom: 0px;
    width: 100%;
    color: white;
    z-index: 10001;
    padding: 10px;

    .button{
        margin-top: 5px;
    }
}

.cookie-banner:hover{
    background: black
}