@import '../../scss/global/global';

article{
    section{
        img{
            width: 100%;
        }
        .uk,
        .globe{
            padding-top: 20px;
            img{
                width: 60%;
            }
        }
        .uk.text-align-right,
        .globe.text-align-right{
            @include respond-to(xxs){
                text-align: center;
            }
        }
    }
}