@import '../scss/global/global';

$FOOTER-HEIGHT: 100px;

html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;  
    background: $WSD-GREY-LIGHT;
    font-size: 20px !important;
    color: white;
    background: url('../assets/img/background/background.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Oxygen', sans-serif !important;
}

#root, .App{
    height: 100%;
}

.wrap{
    min-height: calc(100% - #{$FOOTER-HEIGHT});
}