@import '../scss/global/global';

$FOOTER-HEIGHT: 280px;

html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;  
    background: $WSD-GREY-LIGHT;
    font-size: 20px !important;
    color: white;
    background: url('../assets/img/background/background.png') no-repeat center center fixed; 
    background-color: $WSD-DARK-BLUE;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Oxygen', sans-serif !important;
    @include respond-to(xs){
        font-size: 16px !important;
    }
    @include respond-to(xxs){
        font-size: 16px !important;
    }
}

#root, .App{
    height: 100%;
}

.wrap{
    min-height: calc(100% - #{$FOOTER-HEIGHT});
}

.wrap.plain{
    background: white;
    border-top: 1px solid #000000;
}