@import '../../scss/global/global';

.contact-us{
    .address-contact{
        .address-contact-container{
            .address-info{
                width: 100%;
                max-width: 100%;
                flex: none;
            }
            .address-map{
                width: 100%;
                max-width: 100%;
                flex: none;
                height: 400px;
                padding-left: 0px;
            }
        }
        @include respond-to(xxs){
            padding: 0px;
        }
    }
    .input-error{
        border: 2px solid red;
    }
    .input-error-text{
        background: red;
        font-size: 16px;
        font-weight: bold;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .checked{
        width: 200px;
    }
}