a.button, button{
    padding: 7px;
    display: block;
    width: 100%;
    border: none;
    margin-bottom: 10px;
    text-align: center;

    &.blue{
        background: #0070c7;
        color: white;
        font-weight: bold;
    }

    &.blue:hover{
        background: #0090ff;
        color: white;
        font-weight: bold;
    }
}
a.button:hover, button:hover{
    text-decoration: none;
}