@import '../../scss/global/global';

.nav-links{
    nav{
        ul{
            margin: 0px !important;
            padding: 0px !important;
            text-decoration: none;
            list-style: none;
            li{
                background: black;
                color: white;
                float: left;    
                padding: 0px;
                margin-bottom: -10px;
                margin-left: 2px;
                border-bottom: 4px solid black;
                cursor: pointer;
                @include transition(all 0.5s ease-in-out);
                a{
                    display: block;
                    color: white;
                    padding: 10px;
                    font-weight: bold;
                }
                a.active{
                    background: red;
                }
                a:hover{
                    text-decoration: none;
                    color: white;
                }
                @include respond-to(xs){
                    width: 100%;
                    margin: 0px;
                    border-bottom: none;
                    margin-bottom: 2px;
                    float: none;
                    @include transition(all 0s ease-in-out);
                }
                @include respond-to(xxs){
                    width: 100%;
                    margin: 0px;
                    border-bottom: none;
                    margin-bottom: 2px;
                    float: none;
                    @include transition(all 0s ease-in-out);
                }
            }
            li:hover{
                margin-top: -10px;
                border-bottom: 4px solid rgb(3, 158, 255);
                @include respond-to(xs){
                    margin-top: 0px;
                    border-bottom: none;
                }
                @include respond-to(xxs){
                    margin-top: 0px;
                    border-bottom: none;
                }
            }
        }
        @include respond-to(xs){
            position: relative;
            margin-left: -15px;
            margin-right: -15px;
        }
        @include respond-to(xxs){
            position: relative;
            margin-left: -15px;
            margin-right: -15px;
        }
    }
}