$WSD-GREY-LIGHT: #efefef;
$WSD-BLUE: #0794be;
$WSD-ORANGE: #ffa270;
$WSD-ORANGE-DARK:#e4814a;
$WSD-RED: #ff7070;
$WSD-PURPLE: #c50575;
$WSD-GREEN: #62b987;
$WSD-WHITE: #ffffff; 
$PADDING: 15px;
$WSD-DARK-BLUE: #040e29;
$WSD-GREY: #e4e4e4;