.col-grid-full{
    width: 100%;
}

.col-grid-half{
    width: 50%;
    float: left;
}

.col-grid-third{
    width: 33.33%;
    float: left;
}

.col-grid-quarter{
    width: 25%;
    float: left;
}

.col-grid-fifth{
    width: 20%;
    float: left;
}