@import '../../scss/global/global';

.carousel-slider{
    .carousel-slider-item{
        height: 440px;
        h1{
            font-size: 2.5em;
            @include respond-to(xs){
                font-size: 2.1em;
            }
            @include respond-to(xxs){
                font-size: 2em;
            }
        }
        p{
            font-size: 1.5em;

            @include respond-to(xs){
                font-size: 1.3em;
            }
            @include respond-to(xxs){
                font-size: 1em;
            }
        }
    }
}